@font-face {
  font-family: clock;
  src: url('../fonts/DS-DIGI.TTF');
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

 .bodyDark {
  background-repeat: no-repeat;
  background-size: cover;
}

.bodyLight {
  background-repeat: no-repeat;
  background-size: cover;
} 

header {
  height: 50px;
  padding: 15px;
  margin-bottom: 20px;
}

.headerDark {
  background-color: rgb(113, 89, 193);
  color: #000;
}

.headerLight {
  background-color: rgb(113, 89, 193);
}

.imgs {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

img {
  height: 50px;
}

h1 {
  float: left;
  margin-top: 5px;
}

#stopwatch:hover {
  cursor: pointer;
}

#watch:hover {
  cursor: pointer;
}

#night:hover {
  cursor: pointer;
}



section {
  position: relative;
  text-align: center;
  height: 500px;
  max-width: 95%;
  margin: auto;
  border-radius: 10px;
  box-sizing: border-box;
}

.sectionLight {
}

.sectionDark {
  color: rgb(113, 89, 193);
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  width: 800px;
}

#display {
  font-size: 8em;
  font-family: clock, sans-serif;
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.country{
  text-align: center;
  display: grid;
  grid-template:auto auto/auto auto auto auto auto;
}

.btn{
  width: 120px;
  margin: 10px;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btnLight{
  background-color: rgb(113, 89, 193);
  box-shadow: 1px 1px 2px #2b2b2b;
}

.btnDark{
  background-color: #2b2b2b;
  box-shadow: 1px 1px 2px rgb(85, 85, 85) ;
  color: rgb(113, 89, 193);
}


.btn:hover{
  box-shadow: none
}

.a1{
  background-color: rgba(255, 228, 196, 0.438);
  border-radius: 20px;
}

.titles{
  position: absolute;
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 228, 196, 0.438);
  border-radius: 20px;
  width: 250px;
  font-size: 25px;
  font-weight: bold;
  
}
p{
  margin: 5px;
}